<div class="container">
    <div class="row">
        <h6>Company Profile</h6>
        <p>Green Line Paribahan is apparently a family owned transport company specializing in transportation of
            passenger bus services since 1990. From a humble beginning of local services, our transport system
            encompasses all reachable areas of Bangladesh and also beyond the border, extending our reach to Kolkata in
            India. <br>

            We worked hard and honest, we put our vision forward and explored ways and means to continuously improve
            passenger comfort, and as a result, we were able to introduce the 1st ever Air- Conditioned bus services in
            Bangladesh. We take pride in mentioning that our fleet of buses includes the most luxurious models of VOLVO
            and SCANIA Imported from Europe, which provide the ultimate in passenger comfort and safety. <br>

            The company at present operates more then 60 (Sixty) buses on schedule routes employing over 200 trained
            staff and safely transporting over a million passengers a year.</p>

        <h6>Our Mission</h6>
        <p>The mission of the Transport Company may be categorized by 3 principal activities as follows.</p>
        <ul>
            <li>Aim for efficient services through constant development towards world-class standards. The priorities
                are safety, convenience, cleanliness, modernity and punctuality on each and every journey.</li>
            <li>Create customer satisfaction and meet passenger needs. The service network must allow for ease of
                connections and uninterrupted nationwide travel.</li>
            <li>Implement a system of management that is both efficient and streamlined. Capitalise on the potential of
                employees, by building teamwork. Reduce waste and non-productivity, in the interest of quality
                management and to compete with the private sector.</li>
        </ul>



        <h6>Our Vision</h6>
        <p>To be the leader of domestic land based transport, with world-class service standards, efficient management,
            employing modern technologies and quality personnel.</p>

        <h6>Our Founder</h6>
        <p><b>AL-HAJJ MOHAMMAD ALAUDDIN</b> is the pioneer and an entrepreneur in this sector. A humble man with an idea
            of tremendous magnitude has taken him to the pinnacle of success in passenger bus service in Bangladesh.
            Honesty and dedication pays off, and it shows in the effort of Mr. Mohammad Alauddin, Who personally takes
            care of the day-to-day business of his nationwide service. He has keen eyes for passenger comfort and
            safely, and takes amy comments for the passenger with great seriousness. He is a 58year young man who is not
            very fond of media exposure and want to remain behind the scenes of his transportation empire as a happy
            dedicated man.</p>

        <h6>Our Management</h6>
        <p><b>AL-HAJJ MOHAMMAD ALAUDDIN</b> <br>
            Managing Director <br>

            <b>ALAUDDIN APU</b> <br>
            Deputy Managing Director <br>

            <b>SHAMSUDDIN AHAMED</b> <br>
            Director Marketing <br>

            <b>MOHAMMAD ABDUS SATTAR </b> <br>
            General Manager
        </p> <br>
    </div>
</div>