<div class="container">
    <div class="row">
        <p>
            <b>Greenline Paribahan</b> <br>

            Dhaka - Chittagong - Dhaka.<br>
            Dhaka - Cox's Bazar - Dhaka.<br>
            Dhaka - Teknaf - Dhaka.<br>
            Dhaka - Sylhet - Dhaka.<br>
            Dhaka - Banapole - Dhaka.<br>
            Dhaka - Khulna - Dhaka.<br>
            Dhaka - Rajsahi - Dhaka,<br>
            Chittagong - Sylhet - Chittagong. <br>
            Chittagong - Banapole - Chittagong. <br> <br>



            <b>Greenline water way's</b> <br>

            Dhaka - Barishal - Dhaka. <br>
            Teknaf - Sents Martin - Teknaf.
        </p><br>
    </div>
</div>