<div class="container">
    <div class="row">
        <div class="col-md-6 col-12">
            <h6>Head Office</h6>
            <p>9/2, Outer Circular Road, Momen Bagh, Rajarbagh, Dhaka - 1217 <br>

                <b>TEL</b> : +88 02 8315380, <br>
                
                <b>Fax</b> : +088-02-8350003 <br>
                
                <b>Email</b> : greenline2009&#64;gmail.com</p>
        </div>
        <div class="col-md-6 col-12">
            <h6>Call Center</h6>
            <p><b>MOB</b> : 09613316557 <br>

                <b>TEL</b> : +88 02 8331302, +88 02 8331303, +88 02 8331304</p>
        </div>
    </div>
</div>
