<div class="container">
    <div class="row">
        <h6>Dhaka</h6> <hr>
        <div class="col-md-3 col-6">
            <p>1. Counter Address: <br>
            Rajarbagh <br>
            9/2 Outer Circular Road, <br>
            Momenbagh, Rajarbagh. <br>
            +880-2-8315380 <br>
            +880-2-9339623 <br>
            +880-2-8331302</p>
        </div>
        <div class="col-md-3 col-6">
            <p>2. Counter Address: <br>
                Arambagh <br>
                167/1 Eden Complex, <br>
                Arambagh, Motijheel. <br>
                +880-2-7192301 <br>
                +88-01730060009</p>
        </div>
        <div class="col-md-3 col-6">
            <p>3. Counter Address: <br>
                Fakirapool <br> 
                12 Fakirapool, <br> 
                Hotel Estern. <br>
                +880-2-7191900</p>
        </div>
        <div class="col-md-3 col-6">
            <p>4. Counter Address: <br>
                Kalabagan <br>
                69 Sheikh Rasel Square, <br>
                Kalabagan, Panthapath. <br>
                +880-2-9133145 <br>
                +88-01730060006 <br>
                +880-2-9112287</p>
        </div>
    </div>
</div>
